.additional-product {
  width: 280px;
}

@media (min-width: @tablet-width) {
  .additional-product {
    width: 708px;
    border-top: 3px #68b738 solid;
    margin-top: 88px;
  }
}

@media (min-width: @desktop-width) {
  .additional-product {
    width: 895px;
    min-height: 71px;
    border: none;
    margin-bottom: 90px;
  }
}

.additional-product__headline {
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  font-weight: normal;
  margin-top: 31px;
  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .additional-product__headline {
    width: 410px;
    height: 38px;
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    margin-left: 0;
    margin-top: -24px;
    margin-bottom: 78px;
    background-color: #ffffff;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .additional-product__headline {
    width: 1220px;
    margin: 0;
    margin-bottom: 75px;
    text-align: left;
  }
}

.additional-product__element {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

@media (min-width: @tablet-width) {
  .additional-product__element {
    border: 1px #cdcdcd solid;
    width: auto;
    min-height: 94px;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 25px;
    padding-bottom: 17px;
  }
}

@media (min-width: @desktop-width) {
  .additional-product__element {
    width: 895px;
    min-height: 71px;
    margin: 0;
    padding: 0;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
}

.additional-product__name {
  font-family: "Oswald", "Arial", sans-serif;
  color: #222222;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  margin-top: 14px;
  margin-bottom: 0;
}

@media (min-width: @tablet-width) {
  .additional-product__name {
    width: 150px;
    font-size: 20px;
    line-height: 20px;
    margin-right: auto;
    margin-top: 0;
  }
}

// @media (min-width: @desktop-width) {
//   .additional-product__name {

//   }
// }

.additional-product__property {
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  margin-left: 0;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 0;
}

@media (min-width: @tablet-width) {
  .additional-product__property {
    font-size: 16px;
    line-height: 20px;
    margin-left: 20px;
    position: absolute;
    right: 257px;
  }
}

@media (min-width: @desktop-width) {
  .additional-product__property {

    left: 327px;
    margin-left: 0;
  }
}

.additional-product__price {
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  margin-left: auto;
  margin-right: 0;
  margin-top: 15px;
  margin-bottom: 0;
}

@media (min-width: @tablet-width) {
  .additional-product__price {
    font-size: 16px;
    line-height: 20px;
    margin-left: auto;
    margin-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .additional-product__price {
    position: absolute;
    left: 570px;
    margin-left: 0;
  }
}

.additional-product__button {
  width: 280px;
  height: 40px;
  margin-top: 14px;
  margin-bottom: 17px;
}

@media (min-width: @tablet-width) {
  .additional-product__button {
    width: 100%;
    margin-top: 14px;
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .additional-product__button {
    width: 245px;
    margin-top: 0;
    margin-left: auto;
    margin-right: 0;
  }
}
