.address__wrapper {
  display: block;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.address__wrapper--white {
  background-color: #ffffff;
}

.address__invite {
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
}

.address__address {
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

.address__map {
  display: block;
  width: 320px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 320px 400px;
}
.address__map::after {
  content: "";
  width: 55px;
  height: 53px;
  margin-left: 136px;
  margin-top: 0;
  background-image: url("../img/map-pin.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 55px 53px;
}

// .addess__map-pin {
//   width: 55px;
//   height: 53px;
//   margin-left: 136px;
//   margin-top: 0;
//   background-image: url("../img/map-pin.png");
//   background-position: left;
//   background-repeat: no-repeat;
//   background-size: 55px 53px;
// }
