.begin{
  font-family: 'Oswald', Arial, sans-serif;
  color: #ffffff;
  background-color: #ffffff;
  background:
  url(../img/index-background-mobile@1x.jpg) no-repeat;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
}
.begin__headline{
  font-family: 'Oswald', Arial, sans-serif;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  padding-top: 29px;
}
.begin__tagline{
  font-family: 'Oswald', Arial, sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}
.begin__can{
  padding: 0px;
  margin: 0px;
  margin-top: 29px;
}
.begin__button{
  font-family: 'Oswald', Arial, sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  width: 280px;
  height: 40px;
  background-color: #68b738;
  border: none;
  margin-left: auto;
  margin-right: auto;
}
