.example {
  display: block;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f2f2;
}

.example__header {
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
}

.example__text {
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

.example__result {
  text-align: center;
  width: 124px;
}

.example__value {
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__property {
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 12px;
}

.example__cost {
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.example__before {
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
}

.example__after {
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
}
