.features {
  display: block;
  width: 280px;
  padding: 0 20px;
  margin-bottom: 15px;
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .features {
    width: 708px;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .features {
    width: 1220px;
    padding: 0;
    margin-bottom: 57px;
  }
}

.features__header {
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  font-weight: normal;
  margin-top: 0;
}

@media (min-width: @tablet-width) {
  .features__header {
    font-size: 60px;
    font-weight: normal;
    width: 100%;
    margin-bottom: 8px;
  }
}

@media (min-width: @desktop-width) {
  .features__header {
    margin-top: 45px;
    margin-bottom: 0px;
  }
}

.features__text-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 80px;
  margin: 0;
  padding: 0;
  position: relative;
}

@media (min-width: @tablet-width) {
  .features__text-wrapper {
    width: 326px;
    height: 230px;
    margin-top: 67px;
    margin-bottom: 20px;
    flex-direction: column;
  }
}


@media (min-width: @desktop-width) {
  .features__text-wrapper {
    width: 255px;
    min-height: 230px;
    margin-top: 67px;
    margin-bottom: 20px;
    flex-direction: column;
  }
}

.features__text {
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  width: 200px;
  margin-top: 37px;
  z-index: 1;
}

.features__image {
  width: 60px;
  height: 60px;
  background-color: #68b738;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  order: -1;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

@media (min-width: @tablet-width) {
  .features__image {
    margin-right: auto;
    width: 80px;
    height: 80px;
  }
}

.features__image--leaf {
  background-image: url("../img/advantage-leaf@1x.png");
  // background-size: 26px 29px; - размер по макету
  background-size: 48px 50px;
}

.features__image--water {
  background-image: url("../img/advantage-powder@1x.png");
  // background-size: 29px 31px;
  background-size: 49px 50px;
}

.features__image--spoon {
  background-image: url("../img/advantage-dining@1x.png");
  // background-size: 23px 30px;
  background-size: 50px 50px;
}

.features__image--clock {
  background-image: url("../img/advantage-clock@1x.png");
  // background-size: 26px 31px;
  background-size: 50px 51px;
}

.features__number {
  font-family: "Oswald", "Arial", sans-serif;
  color: #f2f2f2;
  display: none;
}

@media (min-width: @tablet-width) {
  .features__number {
    display: inherit;
    width: 140px;
    height: 281px;
    font-size: 281px;
    line-height: 281px;
    text-align: left;
    margin-right: 0;
    margin-left: auto;
    position: absolute;
    left: 124px;
    top: -32px;
  }
}
