.form__explanation {
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
}

.form__label {
  font-family: "Oswald", "Arial", sans-serif;
  color: #222222;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
}

.form__input {
  font-family: "Oswald", "Arial", sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  height: 45px;
  border: 1px;
}

.form__tagline {
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
}

.form__required-fields {
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
}

.form__button {
  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 280px;
  height: 40px;
  background-color: #68b738;
  border: none;
}

.form__personal-data {
  list-style: none;
}

.form__program-type {
  list-style: none;
}

.form__additional-goods {
  list-style: none;
}
