@tablet-width: 768px;
@desktop-width: 1200px;

body {
  font-family: "Oswald", "Arial", sans-serif;
  background-color: rgb(236, 247, 174);
  min-width: 320px;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  body {
    background-color: aquamarine;
    min-width: 768px;

  }
}


@media (min-width: @desktop-width) {
  body {
    background-color: rgb(162, 168, 250);
    min-width: 1440px;
  }
}
